<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= siteTitle %></title>
    <script src="/scripts/jQuery.js"></script>
    <link href="/images/site_logo.png" rel="icon" ></link>
    <link href="/fonts/setup.css" rel="stylesheet"></link>
    <link href="/styles/global.css" rel="stylesheet"></link>
    <link href="/styles/header.css" rel="stylesheet"></link>
  </head>
  <body>
    <script>
      var fb_api = false;
      window.fbAsyncInit = function(){
        fb_api = true;
      };
    </script>
    <div id="fb-root"></div>
    <script async defer src="https://connect.facebook.net/km_KH/sdk.js#xfbml=1&version=v3.2"></script>
    <section>

    <header class='Header'>
      <div class='wrapper region'>
        <div class='datetime'>
          <div class='date'><%= date %></div>
          <div class='time' id='kh-clock'>Time</div>
          <script src="/scripts/header.js"></script>
        </div>

        <div class='title-desc'>
          <div class='title'><%= siteTitle %></div>
          <div class='description'><%- description %></div>
        </div>

        <form class='search' method='post' action='/search'>
          <input type='text' name='q' placeholder="Search" />
          <input type='submit' value='បញ្ជូន' />
        </form>
      </div>
    </header>

    <%- include('menu.ejs') %>