<link href="/styles/users/partials/listing.css" rel="stylesheet"></link>
<script src='/scripts/users/paginate.js'></script>

<section class='List region'>
    <div class='info'><%= message %></div>

    <div class='item-wrapper'>
        <% for(let v in items){ %>
        <div class='item'>
            <div class='thumb'>
                <% if(route==='user'){ %>
                <a href='/<%= route %>/<%= items[v].userid %>'>
                <% }else{ %>
                <a href='/<%= route %>/<%= items[v].id %>'>
                <% } %>
                    <% if(items[v].thumb){ %>
                    <img src='<%- items[v].thumb %>' />
                    <% }else{ %>
                    <img src='/images/userthumb.png' />
                    <% } %>

                    <% if((items[v].video) && (items[v].video !== '')){ %>
                        <img class='play-icon' src='/images/play.png' />
                    <% } %>
                </a>
                
            </div>

            <div class='title-date'>
                <% if(route==='user'){ %>
                <a href='/<%= route %>/<%= items[v].userid %>'>
                <% }else{ %>
                <a href='/<%= route %>/<%= items[v].id %>'>
                <% } %>

                <% if(route === 'user'){ %>
                <%= items[v].username %>
                <% }else{ %>
                <%= items[v].title %>
                <% } %>
                </a>
                <% if(route === 'page'){ %>
                <div><%= items[v].author %></div>
                <% }else if(route === 'user'){ %>
                <div><%= items[v].role %></div>
                <% } else { %>
                <div><%= items[v].date.toLocaleDateString() %></div>
                <% } %>
            </div>

            <div class='edit-delete'>
                <% if(route==='user'){ %>
                <a href='/users/<%= route %>/edit/<%= items[v].userid %>'>
                <% }else{ %>
                <a href='/users/<%= route %>/edit/<%= items[v].id %>'>
                <% } %>
                    <img src='/images/edit.png' />
                </a>
                <% if(route==='user'){ %>
                <a href='/users/<%= route %>/delete/<%= items[v].userid %>'>
                <% }else{ %>
                <a href='/users/<%= route %>/delete/<%= items[v].id %>'>
                <% } %>
                    <img src='/images/delete.png' />
                </a>
            </div>
        </div> 
        <% } %>
    </div>

    <div class='paginate'>
        <a onClick='paginate("<%= route %>")'><img src='/images/load-more.png' /></div></a>
    </div>
 
</section>