<link href="/styles/users/partials/listing.css" rel="stylesheet"></link>
<script src='/scripts/users/paginate.js'></script>

<section class='List region'>
    <div class='info'><%= message %></div>

    <div class='item-wrapper'>
        <% for(let v in items){ %>
        <div class='item'>
            <div class='thumb'>
                <a href='/<%= route %>/<%= items[v].id %>'><img src='<%- items[v].thumb %>' /></a>
                <% if((items[v].video) && (items[v].video !== '')){ %>
                <img class='play-icon' src='/images/play.png' />
                <% } %>
            </div>

            <div class='title-date'>
                <a class='title' href='/<%= route %>/<%= items[v].id %>'><%= items[v].title %></a>
                <div><%= items[v].date.toLocaleDateString() %></div>
            </div>

            <div class='edit-delete'>
                <a href='/users/<%= route %>/edit/<%= items[v].id %>'>
                    <img src='/images/edit.png' />
                </a>
                <a href='/users/<%= route %>/delete/<%= items[v].id %>'>
                    <img src='/images/delete.png' />
                </a>
            </div>
        </div> 
        <% } %>
    </div>

    <div class='paginate'>
        <a onClick='paginate("<%= route %>")'><img src='/images/load-more.png' /></div></a>
    </div>
 
</section>