<%- include('partials/header.ejs') %>
<link href="/styles/users/post.css" rel="stylesheet"></link>
<script src="/scripts/ckeditor/ckeditor.js"></script>
<script src="/scripts/users/post.js"></script>

<style>
    .Main .content form .wrapper{
        margin-top:5px;
        display: grid;
        grid-template-columns: auto 30% 15%;
    }

    .Main .item{
        display: grid;
        grid-template-columns: 12% auto 20%;
        grid-gap: 10px;
        align-items: center;
        background: var(--background-light);
        padding: 5px 0 5px 10px;
    }
    
    .Main .item .thumb{
        position: relative;
        padding-top: 100%
    }

    .Main .item .thumb img{
        border-radius: 50%;
    }
</style>
  
<section class='Main region'>
    <div class='sidebar'>
        <%- include('partials/menu.ejs') %>
    </div>

    <div class='content'>
        <form action='/users/user/edit/<%= user.userid %>' method='post'>
            <input type='text' name='username' value='<%= user.username %>' required />
            <textarea name="info" id="editor" ><%- user.info %></textarea>
            <div class='wrapper'>
                <input type='password' value='<%= user.password %>' name='password' required />
                <input type='email' name='email' required value="<%= user.email %>" />
                <input type='text' name='role' required value="<%= user.role %>" />
                <input type='text' name='thumb' requred value="<%= user.thumb %>" />
                <input type='datetime-local' value='<%= datetime %>' name='datetime' required />
                <input type='submit' value='កែប្រែ​' />
            </div>
            <input name='entries' value='<%= user.video %>' type='hidden' />
        </form>

        <div class='form'>
            <select name='type'>
                <option>YouTube</option>
                <option>YouTubePlaylist</option>
                <option>Facebook</option>
                <option>OK</option>
                <option>Dailymotion</option>
                <option>Vimeo</option>
            </select>
            <input name='id' type='text' placeholder="អត្តសញ្ញាណវីដេអូ" required />
            <select name='ending'>
                <option>ចប់​ហើយ</option>
                <option>មិន​ទាន់ចប់</option>
            </select>
            <input onclick='genJson()' type="button" value="បញ្ចូល​វីដេអូ" />
        </div>

        <table class='viddata'></table>
        
        <div class='item'>
            <div class='thumb'>
                <a href='/<%= route %>/<%= user.userid %>'>
                    <% if(user.thumb){ %>
                    <img src='<%- user.thumb %>' />
                    <% }else{ %>
                    <img src='/images/userthumb.png' />
                    <% } %>
                </a>
            </div>

            <div class='title-date'>
                <a class='title' href='/<%= route %>/<%= user.userid %>'><%= user.username %></a>
                <div><%= user.role %></div>
            </div>

            <div class='edit-delete'>
                <a href='/users/<%= route %>/delete/<%= user.userid %>'>
                    <img src='/images/delete.png' />
                </a>
            </div>
        </div>

        <% if(user.video !== ''){ %>
            <script>
                var entries = JSON.parse('<%- user.video %>')
            </script>
        <% }else{ %>
            <script>
               var entries = []
            </script>
        <% } %>

        <script>
        if(entries.length > 0){

            let html = ``
            for(let v in entries){
                episode += 1
                html += `<tr>`
                html += `<td title="Delete" onClick="deleteRow(event)" class="episode">${episode}</td>`
                html += `<td class="td${episode}">${entries[v].type}</td>`
                html += `<td class="td${episode}">${entries[v].id}</td>`
                html += `<td class="td${episode}">${entries[v].ending}</td>`
                html += `</tr>`
            }

            if($('.viddata').html() === ''){
                $('.viddata').append('<tr>')
                $('.viddata').append('<th>ភាគ/លុប</th>')
                $('.viddata').append('<th>ប្រភេទ​</th>')
                $('.viddata').append('<th>អត្តសញ្ញាណ​</th>')
                $('.viddata').append('<th>ចប់ឬ​នៅ?</th>')
                $('.viddata').append('</tr>')
            }

            $('.viddata').append(`${html}`)

        }
        </script>
        
        <script src="/scripts/ckeditor/config.js"></script>
    </div>
</section>
    
<%- include('partials/footer.ejs') %>