<%- include('partials/header.ejs') %>
<link href="/styles/index.css" rel="stylesheet"></link>

<style>
.content ul li{
    font-size: 18px;
    list-style-position: inside;
}
</style>

<section class='Main region'>
    <div class='sidebar'>
        <%- include('partials/menu.ejs') %>
    </div>

    <div class='content'>
        <ul>
        <% for(let v in results) { %>
            <% if(results[v].title) { %>
                <li class='title'><a href='/<%- route %>/<%- results[v].id %>'><%- results[v].title %></a></li>
            <% }else{ %>
                <li class='title'><a href='/<%- route %>/<%- results[v].userid %>'><%- results[v].username %></a></li>
            <% } %>
        <% } %>
    </ul>
    </div>
</section>
    
<%- include('partials/footer.ejs') %>